.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(200, 198, 253);
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App {
  background: whitesmoke;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quiz {
  background: whitesmoke;
}

.container {
  background: white;
  border: black 1px;
}

.long {
  height: 600px;
}

.title {
  text-align: center;
}
