.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(200, 198, 253);
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App {
  background: whitesmoke;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quiz {
  background: whitesmoke;
}

.container {
  background: white;
  border: black 1px;
}

.ctn {
  position: relative;
}

.long {
  height: 1750px;
}

.med {
  height: 900px;
}

.short {
  height: 800px;
}

.title {
  text-align: center;
  font-family: "Poppins";
  border-bottom: 2px solid #E0DFFF;
  padding: 15px;
  color: #78A8BE;
}

.master {
  padding: 10px;
  border: none;
  box-sizing: border-box;
  height: 100vh;
  font-weight: bold;
}

.master-item {
  font-size: 24px;
  color: #78A8BE;
  padding: 10px;
}

.master-item:hover,
.active-item {
  color: #775392;
  cursor: pointer;
}

.hidden-md {
  display: inline;
}

.hidden-md-down {
  display: none;
}

.text-center {
  text-align: center;
}

/* for phones */
[class *= 'col-'] {
  width: 100%;
  float: left;
}

.coll-3 {
  width: 100%;
  float: left;
}

.coll-9 {
  width: 100% !important;
  float: left;
}

.detail {
  padding: 25px;
  box-sizing: border-box;
  position: absolute;
  z-index: 11;
  color: #78A8BE;
  height: 170vh;
  background: white;
}

.graph {
  width: 100%;
  height: 550px;
}

.detail-sp {
  padding: 25px;
  box-sizing: border-box;
  position: absolute;
  z-index: 11;
  color: #78A8BE;
  background: white;
}

#back {
  color: #78A8BE;
  border: 1px solid #78A8BE;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}

#back:hover {
  cursor: pointer;
  color: white;
  background: #78A8BE;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
  z-index: 100;
  transition: 0.3s;
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.graph {
  border: 1px solid black;
}

.button {
  background-color: #775392; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  /* &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 10rem;
      z-index: -2;
  }
  &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($color, 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
  }
  &:hover {
      color: #fff;
      &:before {
          width: 100%;
      }
  }
} */

@media only screen and (min-width: 786px) {
  .coll-3 {
    width: 25%;
  }

  .coll-9 {
    width: 74% !important;
  }

  .detail {
    position: static;
    height: 1250px;
  }

  .hidden-md {
    display: none;
  }

  .master {
    border-right: 3px solid #775392;
    height: 1600px;
  }

  .short {
    height: 550px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    z-index: 100;
    transition: 0.3s;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.react-quiz-container {
  margin: 20px;
  width: 100%;
}